<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Клиент</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
<img src="image/1.png" width="200" height="80" style="position: absolute;left: 100px; top: 30px">
<div class="all">
    <input checked type="radio" name="respond" id="desktop">
    <article id="slider">
        <input checked type="radio" name="slider" id="switch1">
        <input type="radio" name="slider" id="switch2">
        <input type="radio" name="slider" id="switch3">
        <input type="radio" name="slider" id="switch4">
        <input type="radio" name="slider" id="switch5">
        <div id="slides">
            <div id="overflow">
                <div class="image">
                    <article><img src="image/4.png"></article>
                    <article><img src="image/5.jpg"></article>
                    <article><img src="image/6.jpg"></article>
                    <article><img src="image/7.jpg"></article>
                    <article><img src="image/8.jpg"></article>
                </div>
            </div>
        </div>
        <div id="controls">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
        <div id="active">
            <label for="switch1"></label>
            <label for="switch2"></label>
            <label for="switch3"></label>
            <label for="switch4"></label>
            <label for="switch5"></label>
        </div>
    </article>
</div>
<br>
<br><br><br><br><br><br>
<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Оформить заказ</h1>
                <form class="needs-validation" novalidate th:action="@{/klients}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                    <select multiple class="form-control" name="serverIId" required>
                        <option th:each="server : ${servers}"
                                th:value="${server.serverId}"
                                th:text="${server.Name}">Server</option>
                    </select>
                    <div class="invalid-feedback">Выберите один фаст-фуд</div>
                    </div>
                    <button type="submit" class="btn btn-default" id="submit">Оформить</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Фаст-фуд</h1>

                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="klient : ${klients}">
                        <td th:text="${klient.server.Name}"></td>
                        <td th:text="${klient.server.price}"></td>
                        <td> <a th:href = "@{'/remove?id='+${klient.klientId}}"><button class="btn btn-outline=danger">Удалить</button></a><td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/jquery.js" type="application/javascript"></script>
<script src="/bootstrap.min.js" type="application/javascript"></script>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
</body>
</html>